h1{
  color: white; 
}

h1.homeTitle{
  font-size: 80px; 
  color: white; 
  padding-bottom: 0; 
  padding-top: 0; 
}

h1.interactionName{
  margin-bottom:10px;
}

label{
  color: transparent; 
}

.grid{
  z-index : -1; 
  display: inline-block; 
  width: 55%; 
  height: 100%; 
  bottom: 0; 
}

.body{
  display: flex; 
}

.home{
  width: 100%; 
  background-color: #252837;
  padding-top: 5%; 
  padding-bottom: 5%; 
  text-align: center;
  
}

p.homeDesBody{
  font-size: 18px; 
  text-align: left;
  margin-left: 15%; 
  margin-right: 15%; 
  margin-bottom: 50px; 
  padding: 0; 
  line-height: 1.5; 
  color: darkgray; 
}

p.homeDesQuestion{
  font-size: 36px; 
  font-weight: bold;
  text-align: center; 
  padding: 0; 
  color: white; 
  margin-left: 15%; 
  margin-right: 15%; 
}

.homeBlock{
  display: flex; 
  justify-content: center; 
}

p.homeLink{
  color: white; 
  font-size: 24px; 
  text-align: center; 
  background-color: #0F1016;
  padding: 15px; 
  margin-right: 15px; 
  border-radius: 15px; 
  margin-bottom: 0; 
  transition: 0.3s; 
}

p.homeLink:hover{
  background-color: #484e6c;
  transition: 0.3s; 
  color: darkgray; 
}

.bodyRightOne{
  z-index: 1; 
  display: block; 
  justify-items: right;
  background-color: #252837;
  width: 30%; 
  margin-right: 5%; 
  height: 100%; 
  bottom: 0; 
}

.background{
  position: fixed;
  z-index: 2; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(255, 255, 255, 0.25);

}

.description_first{
  position: static; 
  height: 15%; 
  margin-bottom:0; 
}

.description{
  position: static; 
  margin-top: 50px; 
  height: 15%
}

.bodyRightTwo{
  z-index: 1; 
  display: block; 
  justify-items: right;
  background-color: #0F1016;
  width: 25%; 
  height: 100%; 
  bottom: 0; 
}

.interaction{
  color: white; 
  padding: 20px; 
  justify-content: left
}

button{
  text-align: left;
  padding: 15px 15px; 
  display: block; 
  background-color: #212121; 
  border-width: 0ch;
  color: white; 
  width: 100%; 
}

button:hover{
  color: darkgrey; 
  background-color: #333333; 
  transition: 0.3s
}

.centered{
  justify-content: center;
}

input{
  width: 75px; 
  height: 75px; 
  border-width: 0;
  margin-right: 15px; 
}

@media (max-width: 1200px){
  h1.interactionName{
    font-size: 20px; 
  }
  input{
    width: 60px; 
    height: 60px; 
    border-width: 0;
    margin-right: 15px;
  }
  
}