p{
    color: darkgray; 
    font-size: 14px; 
}

p.popUpTitle{
    font-weight: bold;
    font-size: 24px; 
    color: white; 
    padding-top: 0; 
}

.popUp{
    position: fixed;

    left: 35%;
    top: 30%;

    width: 30%;

    border: 2px solid darkgrey;
    border-radius: 15px;

    background-color: #0F1016;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    z-index: 2; 
}

p.popUpText{
    line-height: 1.5;
    color:white; 
    padding: 0 15px 15px 15px; 
}