p{
    color: darkgray; 
    font-size: 14px;
}

p.popUpTitle{
    font-weight: bold;
    font-size: 24px; 
    color: white; 
    padding-top: 0;
}

.popUp{
    position: fixed;

    left: 35%;
    top: 30%;

    width: 30%;

    border: 2px solid darkgrey;
    border-radius: 15px;

    background-color: #0F1016;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    z-index: 3; 
}

p.popUpText{
    line-height: 1.5;
    color:darkgrey; 
    padding: 0 30px 0px 30px; 
}

p.bold{
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    margin-bottom:10px; 
}

p.directions{
    color: white; 
    text-align: left; 
    padding: 0 30px 0 30px
}

p.instructions{
    color: white; 
    text-align: left; 
}